<%- include('partials/header') %>

<h1>not found</h1>
<script>
 (
    () => {
        setTimeout(() => {
        window.location.href = `/reserva`;
    }, 1500)
}
)()
    
</script>

<%- include('partials/footer') %>